.pageContent {
margin-right: auto;
position: relative;
    width: min-content;
    min-width: 900px;
    min-height: 980px;
    box-sizing: border-box;
    background-color: #B8B8B8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 36px;
    padding-left: 50px;
    padding-right: 50px;
}
